*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Header{
  margin: 5px;
  padding: 10px;
  display: flex;
  background-color: #7faeff;
  flex-direction: row-reverse;
}
.Header1{ 
  display: flex;
  width: 50rem;
  justify-content: space-between;
}
.Header1-button{
  margin-right: 3px;
    background-color: #38813b;
    color: #fff;
    padding: 10px;
    border: none;
}
.input{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
input{
    padding: 8px;
    width: 40rem;
    height: 3em;
    border: none;
    background-color: #c5c5c4;
}
input::placeholder{
    font-size: medium;
    font-weight: 600;
}
.list-item img{
  height: 100px;
  width: 100px;
  display: block;
}
.list-item{
 
  text-align: -webkit-center;;
}
.list{
  display: grid ;
  grid-template-columns: repeat(7, 1fr); 
  gap: 10px;
  list-style: none; 
  margin: 3% 0 0 10px; 
}
@media only screen and (max-width: 600px) {
  .list{
  grid-template-columns: repeat(3, 1fr); 
  }
  .dialog-container{
    width: 26rem;
    height: 20rem;
  }
}
@media only screen 
and (min-device-width : 600px) 
and (max-device-width : 1200px) {
  .list{
    grid-template-columns: repeat(4, 1fr); 
    }
    .Header1{
      justify-content: space-between;
    }
    
}
.dialog-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(189, 189, 189 ,0.9);
}

.dialog-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 40rem;
  height: 25rem;
}
.dialog-header{
  background-color: #a3a1a1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.dialog-main{
  margin: 5%;
  display: flex;
  justify-content: space-evenly;
}
.dialog-main input{
  width: 30%;  
  
}
.dialog-main select{
  width: 30%;  
  background-color: #c5c5c4;
}
.dialog-button{
    display: flex;
    justify-content: center;
  }
.dialog-button button{
  border: none;
  background-color: #38813b;
  color: #fff;
  padding: 10px;
  }
  .dialog-image-container{
      margin: 5%;
  }
  .dialog-image-show{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 15px;
    
  }
  .dialog-image-show img{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
  }

 
